.calculator-item {
    flex-basis: calc(260 / 600 * 100%);
}

.calculator-item-get,
.calculator-item-get .calculator-item-input,
.calculator-item-get .calculator-item-input::placeholder {
    color: #fff;
}

.calculator-item-get .calculator-item-title,
.calculator-item-get .calculator-item-actual-title,
.calculator-item-get .calculator-item-currency-select,
.calculator-item-get .calculator-item-body {
    border-color: #fff;
    opacity: 0.7;
}

.calculator-item-get .calculator-item-currency-select {
    background-color: rgb(0, 130, 154);
}


.calculator-item-title {
    margin-bottom: 7px;
}

.calculator-item-body  {
    font-size: 20px;
    border: 2px solid var(--base-color);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.calculator-item-input,
.calculator-item-currency-select {
    padding: 13px;
}

.calculator-item-input {
    padding-left: 30px;
    width: 100%;
}

.calculator-item-input::placeholder,
.calculator-item-input {
    font-size: 25px;
    font-weight: 500;
    color: var(--accent-color);
}

.calculator-item-currency-select {
    border-left: 2px solid var(--base-color);
}

.calculator-item-footer {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
}
