:root {
	--base-color: #94999e;
	--accent-color: #000;
}

body {
	background-color: #f8f8fa;
	min-width: 360px;
	color: var(--base-color);
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 auto;
	overflow-x: hidden;
}


.container {
	max-width: 1760px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
